.container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
 
}
.sistema {
  margin: 0;
  font-size: 30px; 
  margin-right: auto;
  font-weight: 500;
}


.spacer {
  flex: 1 1 auto;
}
.toolbar {
 
}
hr {
  
  width: 90%;
  margin: 0 auto;
  border: none;
  height: 3px;
  background-color: #e0e0e0;
  margin-bottom: 50px;
}
